/* 
first Div:
    -setup the nav bar at the top of the page
    -set a background image to cover the header of the page
    -overlap the na onto the background image

Second Div:
    -display contact info visually appealing

Footer:
    -display contact info
    -address of New Image

    */