/* 
first Div:
    -setup the nav bar at the top of the page
    -set a background image to cover the header of the page
    -overlap the na onto the background image*/

/*Second Div:
    -Need to look up how to display scrolling/slideshow images

Third and Fourth Div:
    -third div display image of choice
    -fourth div on same line displays corresponding text

Footer:
    -display contact info
    -address of New Image

    */

header {
    background-color: black;
    background-image: url("Images/tools_blur.jpg");
    background-size: 100%;
    background-position: center;
    height: 400px;
    padding: 20px;
    text-align: center;
}
header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
}
header .logo a {
    background-image: url("Images/NewImageLogoTransparent.jpg");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    height: 125px;
    position: relative;
    text-indent: -9999999px;
    top: -40px;
    width: 300px;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}
div.container#h1div {
    text-align: center;
}
ul#h1imglist {
    z-index: 0;

    margin-top: 2.5%;
    padding: 0;
    list-style-type: none;
}

ul#h1imglist li {
    display: inline-block;
    padding: 0;
}
ul#h1imglist li img {
    height: 200px;
    width: 200px;
}
h1#mainH {
    z-index: 1;
    font-size: 48pt;
    font-weight: 700;
    font-family: sans-serif;
    font-style: normal;
}

div.container#covidReg {
    margin-top: 1.5%;
    border-width: 5px;
    border-style: solid;
    border-color: tomato;
}
h3#covidH {
    font-family: sans-serif;
    text-align: center;
    font-weight: 700;
    color: red;
    padding: 2px;
}
p#covidP {
    text-align: center;
    color: red;
    font-family: sans-serif;
}
p#intro,
p#intro2 {
    margin-right: 4%;
    margin-left: 6%;
    font-size: 18pt;
    font-family: sans-serif;
    padding: 5px;
    font-style: italic;
    text-indent: 0.5in;
    text-align: center;
}
img#introImg,
img#introImg2 {
    margin-left: 20%;
    height: 500px;
    width: 400px;
    display: inline;
}
table#homeTable {
    padding: 20px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}
div.container div#socialLinks {
    margin-bottom: 5%;
    text-align: center;
    border: 1px solid white;
    box-shadow: 0 0 10px grey;
}
div.container div#socialLinks p {
    margin-top: 2%;
    text-align: center;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 18pt;
}
div.container div#socialLinks a img {
    height: 85px;
    width: 85px;
    padding: 10px;
}
footer {
    background-color: grey;
    text-align: center;
}

/*
.logo{
    height: 150px;
    width: 150px;
}
#billboard {
    background-size:100%;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    width: 1265px;
    height: 900px;
    object-fit: cover;
    filter: blur(2px);
}

.head {
    position: relative;
    text-align: center;
    color: white;
}

.slogan {
    position: absolute;
    text-align: center;
    object-fit: cover;
    top: 50%;
    left: 20%;
}

.BookAppt {
    position: absolute;
    text-align: center;
    height: 60px;
    width: 100px;
    top: 70%;
    left: 40%; 
}
img {
    height: 85px;
    width: 85px;
}
*/
