/* 
first Div:
    -setup the nav bar at the top of the page
    -set a background image to cover the header of the page
    -overlap the na onto the background image

Second Div:
    -Need to look up how to display scrolling/slideshow images

Third and Fourth Div:
    -third div display image of choice
    -fourth div on same line displays corresponding text

Footer:
    -display contact info
    -address of New Image

    */

.logo {
    height: 20vh;
    width: auto;
    margin: 7px;
    margin-top: 10px;
    margin-left: 10px;
}
