/*
first Div:
    -setup the nav bar at the top of the page
    -set a background image to cover the header of the page
    -overlap the na onto the background image

Services table:
    -Display imgs and text next to eachother with no borders
    -color code services?
    -proper padding, margin, and border width values

Footer:
    -display contact info
    -address of New Image
    */
    