/* 
first Div:
    -setup the nav bar at the top of the page
    -set a background image to cover the header of the page
    -overlap the na onto the background image

Second and Third Div:
    -third div display image of choice
    -fourth div on same line displays corresponding text

Fourth Div:
    -Display list as a customer review list
    -possibly create a dropdown list of reviews to scroll through

Footer:
    -display contact info
    -address of New Image

*/
